*{
    margin:0;
    padding:0;
    box-sizing:border;
    /* background-image: linear-gradient(to top,#FF204E ,#00224D); */
}
.conatiner{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 16;
    gap: 45px;
}

#box1{
    grid-column-start: 1;
    grid-column-end: 6;
    height:5rem;
    text-align: center;
    /* color: */
    text-shadow: 5px 5px 5px  rgb(246, 10, 49);
    font-size: 30px;
}
#box2,#box3{
    grid-row-start:2;
    grid-row-end:6;
}
#box3{
    grid-column-start: 5;
    grid-column-end: 6;
}
/* h1{ */

    /* text-align: center;
    /* color: */
    /* text-shadow: 5px 5px 5px  rgb(246, 10, 49);
    font-size: 40px; */ 
     /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  */

/* } */
img{
    height:300px;
    width:300px;
    object-fit:fill;
    /* object-position:100%; */
    /* background-color: aquamarine; */
    /* border:2px solid black; */
    height:300px;
    border-radius: 10px;
    /* margin:20px; */
    justify-content: left;
    filter: grayscale(100%); 
    
}
.box_img:hover img {
    /* transition:img 1s ease 0s; */
    filter:none; 
    transform: scale(1.1);
    box-shadow: 7px 7px 5px rgb(75, 74, 74),-7px -7px 5px rgb(75, 74, 74);

}
